{% extends 'base.html' %}
{% block body_block %}
    <div class="container my-5">
    <div class="my-5">
        <h3>Your Cart</h3>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" width="15%">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
            <th scope="col" align="right">Price</th>
            <th scope="col">Remove</th>
        </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
                <td>{{ cart.item.name }}</td>
            <td>
                <a class="mr-2" href="#"> <span class="badge badge-light"><i class="fas fa-minus"></i></span></a>
                {{ cart.quantity }}
                <a class="mr-2" href="#"> <span class="badge badge-light"><i class="fas fa-plus"></i></span></a>
            </td>
            <td align="right">&#2547; {{ cart.get_total }}</td>
            </tr>
        {% endfor %}
        <tr>
            <th scope="row"></th>
            <td colspan="2">Total</td>
            <td align="right">&#2547; {{ orders.get_totals }}</td>
            <td></td>
        </tr>
        </tbody>

    </table>
    </div>
{% endblock %}