{% extends 'base.html' %}
{% block body_block %}

    <div class="container my-5">
        <h2 class="my-5">Feature Products</h2>
        <div class="row">
            {% for object in object_list %}
                <div class="col-md-6 col-sm-12 col-lg-3">
                    <figure class="card card-product">
                        <div class="img-wrap">
                            <img src="{{ object.main_image.url }}" style="width: 100%;height: 300px" alt="">
                        </div>
                        <figcaption class="info-wrap">
                            <h6 class="title"><a href="{% url 'shop_app:product-detail' object.id %}">{{ object.name }}</a></h6>
                            <div class="action-wrap">
                                <div class="price-wrap h5">
                                <span class="price-new">&#2547;{{ object.price|floatformat:2 }}</span>
                                <span class="price-old"><del>&#2547;{{ object.old_price|floatformat:2 }}</del></span>
                            </div>
                            </div>

                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}